@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color-main: rgba(14, 14, 14, 1);
  --font-cards: 'Montserrat', sans-serif;
  --color-title-cards: rgba(220, 86, 197, 1);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.main {
  padding: 20px;
  height: auto;
  background-image: url('../images/main/background-image-main.png');
  background-color: var(--background-color-main);
}

/* Cards */

.cards-event {
  display: grid;
  grid-template-columns: repeat(2, 135px);
  gap: 32px 20px;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35% 5px;
  gap: 8px;
  width: 135px;
  height: 208px;
  padding: 10px 0px;
}

.card-container:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px #f80bfd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-card {
  width: 125px;
  height: 160px;
  object-fit: cover;
  border-radius: 50px 0px;
}

.info-events-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-event {
  font-family: var(--font-cards);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  color: var(--color-title-cards);
  text-align: center;
}

.data-event {
  font-family: var(--font-cards);
  font-size: 14px;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.location-event a .svg-pin-location {
  width: 6px;
  height: 9px;
}

.location-event a {
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-family: var(--font-cards);
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 47px;
}
.list-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  margin: 0 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.page-number:hover {
  cursor: pointer;
  border-radius: 50%;
  background: #f80bfd;
}

/* id active for current page */

#active {
  border-radius: 50%;
  background: #f80bfd;
}

/* Tablet */

@media screen and (min-width: 768px) {
  main {
    padding: 32px;
  }

  .cards-event {
    display: grid;
    grid-template-columns: repeat(4, 152px);
    gap: 40px 32px;
    justify-content: center;
  }

  .card-container {
    gap: 8px;
    width: 152px;
    height: 223px;
    padding: 10px 0px;
  }
  .img-card {
    width: 152px;
    height: 211px;
    border-radius: 42% 5px;
  }

  .title-event {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
  }

  .data-event {
    font-size: 16px;
    font-weight: 400;
  }

  .location-event a {
    font-weight: 600;
    font-size: 14px;
  }
}

@media screen and (min-width: 1158px) {
  main {
    padding: 0px 16px 60px 16px;
  }

  .cards-event {
    display: grid;
    grid-template-columns: repeat(4, 288px);
    gap: 40px 32px;
    justify-content: center;
  }

  .card-container {
    gap: 8px;
    width: 288px;
    height: 320px;
    padding: 10px 0px;
  }

  .img-card {
    width: 267px;
    height: 220px;
    border-radius: 70px 0px;
    border-radius: 39% 5px;
  }

  .title-event {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
  }

  .data-event {
    font-size: 16px;
    font-weight: 400;
  }

  .location-event a {
    font-weight: 600;
    font-size: 14px;
  }
}
