@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color-main: rgba(14, 14, 14, 1);
  --font-cards: 'Montserrat', sans-serif;
  --color-title-cards: rgba(220, 86, 197, 1);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

main {
  padding: 20px;
  height: auto;
  background-image: url('../images/main/background-image-main.png');
  background-color: var(--background-color-main);
}

/* Cards */

.row {
  display: grid;
  grid-template-columns: repeat(2, 135px);
  gap: 32px 20px;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35% 5px;
  gap: 8px;
  width: 135px;
  padding: 10px 0px;
  height: fit-content;
}

.event:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px #f80bfd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-card {
  width: 120px;
  height: 120px;
  border-radius: 50px 2px;
  margin-top: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.title-event {
  width: 130px;
  font-family: var(--font-cards);
  font-size: 14px;
  letter-spacing: 0em;
  color: var(--color-title-cards);
  text-align: center;
  margin: 0px;
}

.data-event {
  font-family: var(--font-cards);
  font-size: 14px;

  color: rgba(255, 255, 255, 1);
  text-align: center;
  width: 130px;
  margin: 0;
}

.location-event {
  font-family: var(--font-cards);
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 14px;
  margin: 0 12px;
}

/* Pagination */

#pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 47px;
  margin: 60px 0;
}

.page-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: var(--background-color-main);
  border: 0px;
  border-radius: 50%;
  margin: 0 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  transition: background-color 0.3s;
}
.page-number:hover {
  cursor: pointer;
  border-radius: 50%;
  background: #f80bfd;
}

#active {
  border-radius: 50%;
  background: #f80bfd;
}

/* Tablet */

@media screen and (min-width: 768px) {
  main {
    padding: 32px;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(4, 152px);
    gap: 40px 32px;
    justify-content: center;
  }

  .event {
    gap: 8px;
    width: 152px;
    padding: 10px 0px;
  }
  .img-card {
    width: 141px;
    height: 120px;
    border-radius: 50% 5px;
  }

  .title-event {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
  }

  .data-event {
    font-size: 16px;
    font-weight: 400;
  }
}

@media screen and (min-width: 1158px) {
  main {
    padding: 0px 16px 60px 16px;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(4, 288px);
    gap: 40px 32px;
    justify-content: center;
  }

  .event {
    gap: 8px;
    width: 288px;
    padding: 10px 0px;
  }

  .img-card {
    width: 267px;
    height: 226px;
    border-radius: 70px 0px;
    border-radius: 39% 5px;
  }

  .title-event {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
  }

  .data-event {
    font-size: 16px;
    font-weight: 400;
  }
}
