.magictime {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (print), (prefers-reduced-motion) {
  .magictime {
    -webkit-animation: unset !important;
    animation: unset !important;
    transition: none !important;
  }
}
.puffIn {
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
}
@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

@keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.modal__container {
  background-color: #fff2fd;
  padding: 30px;
  width: calc(946px * 0.7);
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal__header {
  display: flex;
  justify-content: end;
  align-items: center;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #2e009a;
  box-sizing: border-box;
}
.modal__close {
  background: transparent;
  border: 0;
}
.modal__header .modal__close:before {
  content: '\2715';
  color: #4c00fe;
  font-size: 25px;
  cursor: pointer;
}
.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: columns;
  gap: 5%;
}
.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.modal__btn-primary {
  background-color: #dc56c5;
  color: #fff;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes puffIn {
  from {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
  to {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}
.micromodal-slide {
  display: none;
}
.micromodal-slide.is-open {
  display: block;
}
.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
.modal__content {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.modal__content h2 {
  color: #dc56c5;
  font-weight: 600;
  font-size: 20px;
}
.modal__container {
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  margin: auto 12px;
}
.modal__top_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__top_image img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.modal__footer {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
}
.event__image {
  display: none;
}
.event__image img {
  display: block;
  object-fit: cover;
  max-width: 360px;
}
.event__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.event__btn1 {
  display: inline-block;
  background-color: #4c00fe;
  color: #fff;
  padding-top: 10px;
  border: 1px solid #4c00fe;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 5px;
  margin-left: -34px;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.event__btn1:hover,
.event__btn1:focus {
  background-color: #fff;
  color: #4c00fe;
}
.event__info {
  max-height: 100px;
  overflow: auto;
}
.event__info::-webkit-scrollbar {
  width: 10px;
}
.event__info::-webkit-scrollbar-thumb {
  background-color: #4c00fe;
  border-radius: 10px;
  height: 50px;
}
.event__btn2 {
  display: inline-block;
  background-color: #fff2fd;
  color: #4c00fe;
  border: 1px #4c00fe solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.event__btn2:hover {
  color: #fff2fd;
  background: #4c00fe;
}
.event__single_price {
  margin-bottom: 10px;
  padding-left: 34px;
  position: relative;
}
.event__single_price::before {
  content: url(../images/main/main.svg);
  width: 28px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .modal__container {
    width: 595px;
  }
  .modal__footer {
    width: 260px;
  }
  .event__image {
    display: block;
    width: 233px;
  }
  .event__image img {
    max-width: 233px;
    height: 100%;
  }
  .event__details {
    align-items: flex-start;
    text-align: left;
  }
  .event__image {
    display: block;
    max-width: 360px;
  }
  .event__image img {
    display: block;
  }
  .event__btn2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__container {
    width: 942px;
  }
  .modal__content {
    font-size: 18px;
  }
  .modal__content h2 {
    font-size: 24px;
  }
  .modal__footer {
    width: 260px;
  }
  .event__image {
    display: block;
    width: 360px;
  }
  .event__image img {
    max-width: 360px;
    height: 100%;
  }
  .event__details {
    align-items: flex-start;
    text-align: left;
  }
  .event__info {
    max-width: 450px;
    max-height: 100px;
    overflow: auto;
  }
  .event__btn2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
